@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #3ac7ed;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}
.link-primary:hover{
    background-color: #13dffa;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary:hover{
    background-color: rgb(240, 235, 235);
}

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem 0 1rem;
    border-bottom-left-radius: 1rem;
    height: 80px;
}

.navigation .nav-brand {
    font-weight: bold;
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

.navigation .nav-pills {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}


/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}

.skill_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
   
}

.footer .link {
    color: white;
    padding: 0 !important;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
    border-radius: 0.3rem;
    margin: 1rem auto;
    box-shadow: 2px 2px 8px 3px #d3c8c8;
    padding: 2rem;
    width: 70%;
    max-width: 900px;
}

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}

/* for button in Skills */
.btn {
    background-color: var(--primary-color);
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px;
    margin: 0.5rem;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #13dffa;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


